<!DOCTYPE html>
<html lang="pt-br">

<%- include('parts/head', { title: 'Pagamento de Ticket' }) %>

<body>
    <%- include('parts/header'); %>

    <main class="hero-section hero-section-payment">
        <div class="container bg-white">
            <div class="h2 text-center">Dados do Ticket</div>
            <div class="row">
                <div class="col-md-6 col-9 mx-auto">
                    <%- include('parts/ticketTable', { ticket, payment, price }) %>
                </div>
            </div>

            <% if(!payment) { %>
            <div class="row">
                <form class="col-auto mx-auto" action="/pagamento/<%= ticket.codigo %>" method="post">
                    <button class="btn btn-primary btn-lg my-4" type="submit">Pagar</button>
                </form>
            </div>
            <% } %>
        </div>
    </main>

    <div class="about-us-section bg-light">
        <div class="container">
            <div class="about-us-flexbox">
                <div class="about-us-img">
                    <img src="/img/about-us-img.png" alt="About Us Image">
                </div>
                <div class="about-us-text">
                    <h2>Sobre Nós</h2>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                        piece of
                        classical Latin literature from 45 , making it over 2000 years old. Contrary to popular
                        belief,
                        Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                        literature
                        from 45 BC, making it over 2000 years </p>
                </div>
            </div>
        </div>
    </div>

    <%- include('parts/footer'); %>

</body>

</html>