<!DOCTYPE html>
<html lang="pt-br">

<%- include('parts/head') %>

<body>
    <%- include('parts/header') %>
    
    <main class="hero-section hero-section-vagas feedback-section-flexbox">
        <div class="container">
            <h1 class="orange-font">Estacionamento Agora</h1>
            <div class="num-vagas-section">
                <div class="vagas-livres-section">
                    <h2>Vagas Livres</h2>
                    <h2> <%= vagaLivre %> </h2>
                </div>
                <div class="vagas-ocupadas-section">
                    <h2>Vagas Ocupadas</h2>
                    <h2><%= vagaOcupada %></h2>
                </div>
            </div>
            <div class="feedback-section" style="background-color: FFA630;"> 
                <h3><%= statusVaga %></h3>
            </div>
            <h4 class="link-h4">
                <a href="/vagas/vagas-andar">Ver andar por vagas <span class="arrow-right">→</span> </a>
            </h>
    </main>

    <%- include('parts/aboutUsLight') -%>
    
    <%- include('parts/footerDark') -%>

</body>